@await Html.PartialAsync("_SidebarPartial")

<div class="col-8 col-12-medium imp-medium">
	<div id="content">

		<article>
			<header class="major">
				<h2>Что вершит судьбу человечества в этом мире?</h2>
				<p>
					
						Некое незримое существо или закон, подобно Длани Господней парящей над миром<br>
						По крайне мере истинно то, что человек не властен даже над своей волей."
						
					</p>
			</header>

			<span class="image featured"><Img src = "~/img/berserk.png" alt="Biba"/></span>
		</article>

	</div>
</div>