<div class="col-4 col-12-medium">
	<div id="sidebar">

	

		<section>
			<header class="major">
				<h2>Здарова!</h2>
			</header>
			<p>
				«Ублюдок, мать твою, а ну, иди сюда, говно собачье, а? 
				Что, сдуру решил ко мне лезть? Ты, засранец вонючий, мать твою, а? 
				Ну, иди сюда, попробуй меня трахнуть – я тебя сам трахну, 
				ублюдок, онанист чертов, будь ты проклят! 
				Иди, идиот, трахать тебя и всю твою семью! 
				Говно собачье, жлоб вонючий, дерьмо, сука, падла! 
				Иди сюда, мерзавец, негодяй, гад! 
				Иди сюда, ты, говно, жопа!»
			</p>
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button icon fa-info-circle">
					по пиву?
				</a>
			</footer>
		</section>

	</div>
</div>